body {
	width: 80%;
    margin: auto;
}

table {
	width: 100%;
	border-style: solid;
}

.head {
	background: gray;
	color: white;
}

.pair {
	background: #f1f1cc;
}

.impair {
	background: #feffb9;
}